<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @personne.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @personne.surname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @personne.birthdate %>
</p>

<p>
  <strong>Email:</strong>
  <%= @personne.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @personne.phone %>
</p>

<%= link_to 'Edit', edit_personne_path(@personne) %> |
<%= link_to 'Back', personnes_path %>
