<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @festival.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @festival.type %>
</p>

<p>
  <strong>Date:</strong>
  <%= @festival.date %>
</p>

<p>
  <strong>Pays:</strong>
  <%= @festival.pays %>
</p>

<p>
  <strong>Status:</strong>
  <%= @festival.status %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @festival.photo %>
</p>

<%= link_to 'Edit', edit_festival_path(@festival) %> |
<%= link_to 'Back', festivals_path %>
