<%= form_for(@mission) do |f| %>
  <% if @mission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mission.errors.count, "error") %> prohibited this mission from being saved:</h2>

      <ul>
      <% @mission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date_debut %><br>
    <%= f.datetime_select :date_debut %>
  </div>
  <div class="field">
    <%= f.label :date_fin %><br>
    <%= f.datetime_select :date_fin %>
  </div>
  <div class="field">
    <%= f.label :nbr_ideal_bnvl %><br>
    <%= f.number_field :nbr_ideal_bnvl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
