<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mission.name %>
</p>

<p>
  <strong>Date debut:</strong>
  <%= @mission.date_debut %>
</p>

<p>
  <strong>Date fin:</strong>
  <%= @mission.date_fin %>
</p>

<p>
  <strong>Nbr ideal bnvl:</strong>
  <%= @mission.nbr_ideal_bnvl %>
</p>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
