<p id="notice"><%= notice %></p>

<h1>Listing Rapports</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Blacklist</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rapports.each do |rapport| %>
      <tr>
        <td><%= rapport.comment %></td>
        <td><%= rapport.blacklist %></td>
        <td><%= rapport.note %></td>
        <td><%= link_to 'Show', rapport %></td>
        <td><%= link_to 'Edit', edit_rapport_path(rapport) %></td>
        <td><%= link_to 'Destroy', rapport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rapport', new_rapport_path %>
